* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noto-serif-regular {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    max-width: 1140px;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 3rem;
}

.nav-links li a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

.active-link {
    font-weight: 700;
    color: rgba(37, 36, 50, 1);
}

.cart {
    color: #000000;
}

.cart i {
    font-size: 22px;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .navbar, .banner {
        max-width: 967px;
        margin: 26px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar, .banner {
        max-width: 740px;
        margin: 26px auto;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .navbar {
        max-width: 553px;
        margin: 21px auto;
    }
}

@media (max-width: 575px) {
    .navbar {
        max-width: 361px;
        padding: 0.813rem 0;
        margin: 21px auto;
    }
    .nav-links li:not(:last-child) {
        display: none;
    }
    .navbar-left img {
        width: 63px;
    }
    .nav-links {
        gap: 0;
    }
}


.banner {
    max-width: 71.25rem;
    margin: 7.5rem auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.banner-title {
    font-size: 4.063rem;
    font-weight: 700;
    margin-bottom: 0.813rem;
}

.orange-text {
    color: #E95A08;
}

.banner-description, .section-subtitle {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner {
        max-width: 967px;
        margin: 26px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .banner {
        flex-direction: column-reverse;
        max-width: 740px;
        margin: 26px auto;
    }
    .banner-img {
        max-width: 100%;
        width: 100%;
        margin: 0 auto;
    }
}

@media (max-width: 767px) {
    .banner{
        flex-direction: column-reverse;
    }
    .banner-content {
        margin: 0px 1rem;
    }
    .banner-title {
        font-size: 1.5rem;
        margin-top: 1.75rem;
        margin-bottom: 0.813rem;
    }
    .banner-description {
        font-size: 0.875rem;
    }
    .banner-image {
        text-align: right;
    }
}


/* — Plants Section — */
.plants {
    max-width: 1140px;
    margin: 0 auto;
    text-align: center;
}

.plants-header {
    margin-bottom: 3.063rem;
}

.section-title {
    font-size: 3.125rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.section-subtitle {
    max-width: 888px;
    margin: 0 auto;
}

/* Grid of cards */
.plants-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}

.plant-card img {
    width: 100%;
    margin-bottom: 1rem;
}

.plant-name {
    font-weight: 500;
    font-size: 1.375rem;
    margin-bottom: 1.25rem;
    color: #111111;
    line-height: 150%;
}

.plant-price {
    font-size: 1.375rem;
    font-weight: 700;
    color: #111111;
    margin-bottom: 1.875rem;
    line-height: 150%;
}

.add-cart-btn {
    background-color: #E95A08;
    color: #fff;
    border: none;
    padding: 1.188rem 5rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .plants {
        max-width: 967px;
        margin: 26px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .plants-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .plants {
        max-width: 740px;
        margin: 26px auto;
    }
    .section-title {
        font-size: 1.8rem;
    }
}

@media (max-width: 767px) {
    .plants-grid {
        grid-template-columns: repeat(2, 1fr);
        margin: 0px 0.938rem;
    }

    .section-title {
        font-size: 1.5rem;
    }
    .section-subtitle {
        max-width: 336px;
        font-size: 0.875rem;
        margin-top: 1rem;
        margin-left: 1.781rem;
        margin-right: 1.781rem;
    }
    .plant-card img {
        margin-bottom: 1.875rem;
    }
    .plant-name {
        font-size: 1rem;
        margin-bottom: 0.625rem;
    }
    .plant-price {
        font-size: 1rem;
    }
    .add-cart-btn {
        font-size: 1rem;   
        padding: 1.188rem 1rem;
    }
}

.plant-lover {
    max-width: 1140px;
    margin: 13.125rem auto 8.375rem;
    display: flex;
    gap: 3.75rem;
    align-items: center;
}

.plant-lover-img-wrapper {
    position: relative;
    flex: 1;
}

@keyframes spinBadge {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.trusted-badge img {
    width: 286px;
    position: absolute;
    top: -7.938rem;
    left: 21.688rem;
    animation: spinBadge 6s linear 0.3s infinite;
    transform-origin: center;
}

.plant-lover-content {
    flex: 1;
}

.plant-benefits {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
}

.plant-benefits li {
    margin-top: 1.25rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .plant-lover {
        max-width: 967px;
        margin: 26px auto;
    }
    .plant-lover-img-wrapper img {
        width: 100%;
    }
    .plant-lover-content {
        width: 100%;
    }
    .plant-benefits {
        font-size: 0.875rem;
        padding-left: 1.25rem;
    }
    .trusted-badge {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .plant-lover {
        max-width: 740px;
        margin: 26px auto;
    }
    .plant-lover-img-wrapper img {
        width: 100%;
    }
    .plant-lover-content {
        width: 100%;
    }
    .plant-benefits {
        font-size: 0.875rem;
        padding-left: 1.25rem;
    }
    .trusted-badge {
        display: none;
    }
}

@media (max-width: 767px) {
    .plant-lover {
        flex-direction: column;
        margin: 2.563rem 1.063rem;
    }
    .plant-lover-img-wrapper img {
        width: 100%;
    }
    .plant-lover-content {
        width: 100%;
    }
    .plant-benefits {
        font-size: 0.875rem;
        padding-left: 1.25rem;
    }
    .trusted-badge {
        display: none;
    }
}

.join {
    background-image: url('./assets/news-letter-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 12.438rem 19.063rem 12.063rem;
    text-align: center;
    position: relative;
}

.join-title {
    font-size: 3.125rem;
    font-weight: 700;
    color: #fff;
    margin-bottom: 1.438rem;
}

.join-form  {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    margin: 0 auto;
    overflow: hidden;
}

.join-input {
    flex: 1;
    font-size: 1rem;
    padding: 0.969rem 1.25rem;
    border: none;
    outline: none;
}

.join-btn {
    background-color: #E95A08;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    padding: 1.1rem 3.344rem;
    border: none;
    cursor: pointer;
}

@media (max-width: 998px) and (min-width: 767px) {
    .join {
        padding: 6.906rem 4.031rem 2.25rem;
    }
    .join-form {
        max-width: 550px;
    }
    .join-btn {
        padding: 0.969rem 0.75rem;
    }
}

@media screen and (max-width: 768px) {
    .join {
        padding: 6.906rem 4.031rem 2.25rem;
    }
    .join-title {
        font-size: 1.25rem;
    }
    .join-form  {
        max-width: 320px;
    }
    .join-input,
    .join-button {
        width: 100%;
    }
    .join-btn{
        padding: 0.969rem 0.75rem;
    }
}

.footer-container {
    display: flex;
    max-width: 1120px;
    margin: 3.125rem auto;
    justify-content: space-between;
    align-items: flex-start;
    gap: 5.917rem;
}

.footer-logo {
    flex: 1 1 100%;
    max-width: 22.438rem;
}
.footer-description {
    flex: 1 1 45%;
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
}

.footer-nav {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.footer-nav li {
    margin-bottom: 2rem;
}

.footer-nav li a {
    font-size: 1.125rem;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

@media (min-width: 992px) {
    .footer-container {
        flex-wrap: nowrap;
        gap: 5rem;
    }

    .footer-logo,
    .footer-nav,
    .footer-social {
        flex: unset;
    }

    .footer-logo {
        max-width: 22.438rem;
    }

    .footer-social {
        justify-content: flex-end;
        margin-top: 0;
    }
}

@media (max-width: 768px) {
    .footer-nav {
        flex: 1 1 100%;
    }

    .footer-social {
        justify-content: center;
    }

    .footer-description {
        font-size: 1.125rem;
    }
}

@media (max-width: 576px) {
    .footer-container {
        flex-direction: column;
        align-items: flex-start;
        margin: 3.125rem 1.25rem;
        gap: 1.25rem;
    }
    .footer-nav {
        margin-top: 1.5rem;
    }
    .footer-nav li:last-child {
        margin-bottom: 0;
    }

    .footer-social {
        justify-content: flex-start;
    }
}

.deals-section {
    text-align: center;
    padding: 20px;
}

.deals-section h2 {
    font-size: 3.125rem;
    margin-bottom: 1rem;
}

.deals-section p {
    font-size: 1.375rem;
    color: rgba(0, 0, 0, 0.5);
    max-width: 888px;
    margin: 0 auto 120px;
}

@media (max-width: 576px) {
    .deals-section h2 {
        font-size: 24px;
    }
    .deals-section p {
        font-size: 14px;
        max-width: 336px;
        margin: 0 auto 51.5px;
    }
}
.deals-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    margin-bottom: 40px;
}

#bloom, #ana, #zabo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 14px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bloom {
    background-image: url("./assets/deal-bloom.png");
    background-color: rgba(0, 0, 0, 0.4);
    padding: 4.063rem 3.063rem;
}

#ana {
    background-image: url("./assets/deal-ana.png");
    background-color: rgba(0, 0, 0, 0.4);
    padding: 3.75rem 3.063rem;
}

#zabo {
    background-image: url("./assets/deal-zabo.png");
    background-color: rgba(0, 0, 0, 0.4);
    padding: 60px 42px 35px 49px;
}

.deal-info h3 {
    font-weight: 700;
    margin-bottom: 1.188rem;
}

#zabo h3 {
    font-size: 20px;
    margin-bottom: 0.938rem;
}

.deal-info button {
    background-color: transparent;
    color: #fff;
    border: none;
    outline: none;
    text-decoration: underline;
}

#bloom button, #ana button {
    font-size: 1rem;
    font-weight: 600;
}

#zabo button {
    font-size: 1rem;
    font-weight: 600;
}


@media (min-width: 768px) {
    .deals-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto;
        gap: 1.5rem;
        margin-bottom: 120px;
    }
    .deal-card:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .deal-card:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .deal-card:nth-child(3) {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }

    #zabo {
        height: 100%;

    }
    
    #zabo h3 {
        font-size: 40px;
    }

    #zabo button {
        font-size: 28px;
    }
}